body {
    background-color: rgb(217, 192, 240);
}

a {
    color: white;
    text-decoration-color: none;

}

a:hover {
    opacity: 0.7s;

}

.logo {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, Helvetica, sans-serif;
    background: rgb(208, 149, 240);

}

.name {
    color: blueviolet;
}

.text {
    text-align: center;
    padding: 60px;
}

.img {
    border-radius: 100px;
}

.nav-list {
    list-style: none;
    display: flex;

}

.nav-list li {
    color: rgb(199, 171, 224);
    letter-spacing: 3px;
    margin-left: 32px;

}

.mobile-menu {
    display: none;
    cursor: pointer;
}

#sobre_mim {
    text-align: center;
    background-color: rgb(167, 94, 231);
    font-size: 20px;
    padding: 50px;
    padding-top: 0;


}

.titulo {
    font-size: 30px;
    color: white;
    text-align: center;
}

#habilidades {
    text-align: center;
    padding: 50px;

}

#habilidades ul li {
    display: inline-block;
}

#contatos {
    background-color: rgb(167, 94, 231);
    padding: 50px;
    text-align: center;
    color: white;
}
